.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  .pageNumber {
    padding: 3px 12px;
    cursor: pointer;
    font-size: 16px;
    transition: .3s;

    &:hover {
      border-radius: 3px;
      background: #e8e8e8;
      transition: .3s;
    }
  }
  .activePage {
    padding: 3px 12px;
    font-size: 16px;
    font-weight: bold;
  }
  button {
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    background: #9a9adb;
    color: white;
    font-size: 18px;
    cursor: pointer;

    &:active {
      box-shadow: inset 0 0 5px -1px #000000;
      transform: scale(.95);
    }

    &:disabled {
      background: #c2c2fa;
      cursor: not-allowed;
    }

    &:disabled:active {
      background: #c2c2fa;
      box-shadow: none;
      transform: none;
    }
  }
  select {
    padding: 6px 12px;
    border: 2px solid #9a9adb;
    border-radius: 6px;
    font-size: 14px;

    &:focus-visible {
      outline: none;
    }
  }
}