.wrapper {
  position: absolute;
  bottom: 50px;
  left: 50px;
  padding: 6px 12px;
}
.success {
  background: #18ff00;
}
.info {
  background: #00d0ff;
}
.warning {
  background: #ffb700;
}
.error {
  background: #ff0000;
}