.wrapper {
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 5px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "avatar login"
    "avatar showMore";
  padding: 12px;
  border-radius: 6px;
  background: #ededed;

  .avatar { grid-area: avatar; }

  .login { grid-area: login; }

  .showMore { grid-area: showMore; }
}


.avatar { grid-area: avatar; }

.login {
  grid-area: login;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.showMore {
  grid-area: showMore;
  width: 100%;
  display: flex;
  justify-content: flex-start;

  button {
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    background: #9a9adb;
    color: white;
    font-size: 14px;
    cursor: pointer;

    &:active {
      box-shadow: inset 0 0 5px -1px #000000;
      transform: scale(.95);
    }
    &:disabled {
      background: #c2c2fa;
      cursor: not-allowed;
    }
    &:disabled:active {
      background: #c2c2fa;
      box-shadow: none;
      transform: none;
    }
  }
}


.userInfo {
  position: fixed;
  top: 100px;
  left: calc(50% - 250px);
  width: 500px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;

  background: #dadaef;

  box-shadow: 0 0 5px 0 #949494;

  z-index: 100;

  button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 5px -1px black;
    cursor: pointer;

    background: #ff0000;
  }
  .header {
    display: flex;
    margin-bottom: 20px;

    .title {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-left: 24px;


      h3 {
        font-size: 24px;
      }
    }
  }
  .loader {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
  }
}